.section {
  padding-top: var(--gap-section);
  padding-bottom: var(--gap-section);
}

.section-full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .section {
    padding-top: var(--space-64);
    padding-bottom: var(--space-64);
  }
}
